@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply overflow-x-hidden;
  }
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ec4899;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #db2777;
}
